@page "/sweets"
@using WebAssemblyPictureApplication.Models;
@using WebAssemblyPictureApplication.Pages;
@using WebAssemblyPictureApplication.PictureMaker;
@using System.IO;
@using SixLabors.ImageSharp;
@using SixLabors.ImageSharp.Formats.Jpeg;
@using SixLabors.ImageSharp.PixelFormats;
@using Microsoft.JSInterop;
@using SkiaSharp;


@inject NavigationManager NavManager;
@inject HttpClient Http;
@inject IJSRuntime JS;

@code {
    [CascadingParameter(Name = "BaseApiUrl")] protected string BaseApiUrl { get; set; }

    List<Quote> Infos = new List<Quote>();
    List<TextBlock> Blocks = new List<TextBlock>();
    string up = "";

    int height = 18;
    int width = 10;
    int vertical = 3;
    int horizontal = 2;

    protected override async Task OnInitializedAsync()
    {
        //Quote[] infos = JsonGetter.GetSweets(@"wwwroot\Data\SweetsData.json");

        Quote[] infos = await Http.GetFromJsonAsync<Quote[]>(@"Data\SweetsData.json");
        Infos.AddRange(infos);

        for (int i = 0; i < infos.Length; i++)
        {
            Blocks.Add(new TextBlock
            {
                Id = i,
                Text = infos[i].ShortAuthor,
                PlaceId = 0,
                FullText = new string[] { infos[i].Text, infos[i].Source, infos[i].Author },
                InnerClassInfo = "zero"
            });
        }
    }

    void HandleStatusUpdated(TextBlock updated)
    {
        up = updated.Text;
    }

    bool showModal = false;
    List<int> infos = new List<int>();
    string path;


    private void Download(int[] ids)
    {
        string layoutPath = "./PrintLayouts/sweets_inside_A4.jpg";
        string color = "#5e2d85";

        List<string[]> nameList = new List<string[]>();
        List<string> authorList = new List<string>();
        List<string[]> textList = new List<string[]>();

        for (int i = 0; i<ids.Length; i++)
        {
            nameList.Add(MakeLineArr(Blocks[ids[i]].FullText[1],27));
            authorList.Add(Blocks[ids[i]].FullText[2]);
            textList.Add(MakeLineArr(Blocks[ids[i]].FullText[0], 27));
        }
        JS.InvokeVoidAsync("Lib.makeSweets", layoutPath,
                            nameList.ToArray(),
                            authorList.ToArray(),
                            textList.ToArray(),
                            60, color);
    }

    string[] MakeLineArr (string text, int max)
    {
        List<string> lineList = new List<string> { };
        string[] wordArr = text.Split(' ');
        int count = 0;
        string line = "";
        for (int i=0; i<wordArr.Length; i++)
        {
            count += wordArr[i].Length;
            if (count <= max)
            {
                line += wordArr[i];
                line += " ";
                count += 1;
            }
            else
            {
                lineList.Add(line);
                line = wordArr[i] + " ";
                count = wordArr[i].Length +1; 
            }
        }
        lineList.Add(line);
        return lineList.ToArray();
    }

    private bool CheckAllPlaces(int num)
    {
        for (int i = 1; i <= num; i++)
        {
            if (!(Blocks.Any(x => x.PlaceId == i)))
            {
                return false;
            }
        }
        return true;
    }

    private int[] MakeIdsArr(int num)
    {
        List<int> infos = new List<int>();
        infos = new List<int>();
        for (int i = 1; i <= num; i++)
        {
            infos.Add(Blocks.SingleOrDefault(x => x.PlaceId == i).Id);
        }
        return infos.ToArray();
    }

    void DownloadCover()
    {
        string layoutPath = "./PrintLayouts/sweets_outside_A4.jpg";
        JS.InvokeVoidAsync("Lib.makeCover", layoutPath);
    }

    void RefreshPreset()
    {
        for (int k = 0; k < Blocks.Count; k++)
        {
            Blocks[k].PlaceId = 0;
            Blocks[k].InnerClassInfo = "zero";
        }
    }

    void SciFiPresetChange()
    {
        RefreshPreset();
        for (int i = 0; i < 6; i++)
        {
            Blocks[i].PlaceId = i + 1;
            Blocks[i].InnerClassInfo = "onmodel";
        }
    }

    void ChildPresetChange()
    {
        RefreshPreset();
        for (int i = 6; i < 12; i++)
        {
            Blocks[i].PlaceId = i - 5;
            Blocks[i].InnerClassInfo = "onmodel";
        }
    }

    void ModernPresetChange()
    {
        RefreshPreset();
        for (int i = 12; i < 18; i++)
        {
            Blocks[i].PlaceId = i - 11;
            Blocks[i].InnerClassInfo = "onmodel";
        }
    }

    void ModalShow()
    {
        if (CheckAllPlaces(6))
        {
            Download(MakeIdsArr(6));
        }
        else
        {
            showModal = true;
        }
    }
    void ModalCancel() => showModal = false;
    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }
}

<h3>Обертка для конфет
    <span style="background-color: white; color: white;">
        <span class = "indextext">Forum</span>
        <span class = "didonatext">Didona</span>
        </span>

  <div class="dropdown">
  <button class="dropbtn">Как пользоваться конструктором</button>
  <div class="dropdown-content">
    <ol>
        <li>Перетащите зелёные блоки с фамилиями непосредственно на макет или выберите готовый тематический набор.</li>
        <li>На макете блок автоматически развернётся в полный вид.</li>
        <li>Вы можете редактировать готовый набор.</li>
        <li>Вы можете перетаскивать блоки по макету.</li>
        <li>Если вы передумали насчёт одного из блоков, перетащите его обратно наверх.</li>
        <li>Если вы хотите переместить блок на место другого, просто сделайте это. Старый блок сам вернётся наверх.</li>      
        <li>Не бойтесь, если блоки выходят за пределы макета - это проблема онлайн-вёрстки. На печатном макете всё будет хорошо.</li>
        <li>Когда вы заполните все 6 ячеек, нажмите на кнопку "Скачать".</li>
        <li>Перейдите на страницу "Рекомендации", чтобы узнать о рекомендуемом формате и других аспектах печати.</li>
    </ol>
  </div>
</div>
</h3> 


@if (Blocks.Count == 0)
{
    <p>Loading...</p>
}
else
{

    <DragNDropContainer OnStatusUpdated="HandleStatusUpdated" Blocks="Blocks" AllowCopy="true">
        <PlaceComponent HeightPercent="5"
                    WidthPercent="80"
                    Id="0"
                    DesignInfoClass="DesignClass.TopCardPicker" />

        <TableComponent Path="./PrintLayouts/sweets_moc.jpg"
                    TableWidth="32"
                    TableHeight="66"
                    TopPosition="4"
                    LeftPosition="34"
                    PlaceWidth="100"
                    PlaceHeight="17"
                    Horizontal="@horizontal"
                    Vertical="@vertical"
                    Opacity="100" />

        <div>
            <canvas id='sweets_canvas_id' width="0" height="0"></canvas>

            <div style="background-color: transparent; display: inline-flex; justify-content: center; height: 5vh; width: 100%; align-items: center">
                <button type="button"
                    class="btn btn-prime"
                    style="background-color: rgb(100, 176, 112); margin-right: 4px;"
                    @onclick="@ModalShow">
                    Скачать макет
                </button>
                <button type="button"
                    class="btn btn-prime"
                    style="background-color: rgb(100, 176, 112)"
                    @onclick="@DownloadCover">
                    Скачать внешнюю часть
                </button>
            </div>
        </div>

        <div title="Вы можете выбрать готовый набор" style="position: absolute; top: 50%; right: 0%; background-color: rgb(100, 176, 112); color: white; ">
            <div>
                <button type="button"
                    class="btn btn-prime"
                    @onclick="@SciFiPresetChange">
                    Набор "Фантастика"
                </button>
            </div>
            <div>
                <button type="button"
                    class="btn btn-prime"
                    @onclick="@ModernPresetChange">
                    Набор "Современность"
                </button>
            </div>
            <div>
                <button type="button"
                    class="btn btn-prime"
                    @onclick="@ChildPresetChange">
                    Набор "Сказочный"
                </button>
            </div>
        </div>

    </DragNDropContainer>
    @if (showModal)
    {
        <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        Заполните все ячейки
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" @onclick="@ModalCancel">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    }
}



